!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style type="text/css">
    #centerLayer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .button {
  display: inline-block;
  background: #2196f3;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  line-height: 1;
}
.contacs {
position: relative;

margin-top: 45%;
}
</style>
</head>
<body>
    <div id="centerLayer">
    <h2>Добро пожаловать.</h2>
    </div>
    <div id="centerLayer">
    <form action="/chat">
        <button class="button">
            <h3>Начать общаться</h3>
    </form>
    </div>
    <div class="contacs">
        <a href="https://t.me/sasha_newsed">
            <img src="telega.jpg" ></img>
        </a>

    </div>
</body>
</html>
